{
	"env": {
		"development": {
			"presets": [
				"env"
			],
			"plugins": [
				"external-helpers",
				"add-module-exports"
			]
		},
		"production": {
			"presets": [
				"env",
				"minify"
			],
			"plugins": [
				"add-module-exports"
			]
		}
	}
}
